.circle {
    border-radius: 50%;
}
.profile-pic {
    border-radius: 50%;
    width: 100px;
}
li {
    list-style-type: none;
}
ul {
    padding-left: 0!important;
}
ul li {
    padding-left: 0!important;
}
.inline-image {
    width: 70%;
}
td.break {
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
}