.jake-billings-view {
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
.resume-location {
  float:right;
}
.resume-card {
  margin-bottom: 1em;
}
.resume-subtitle, .resume-title {
  font-weight: bold;
}
